{
	"rules": {
			"semi": ["error", "always"],
			"no-console": ["warn"],
			"indent": ["error", "tab"]
	},
	"parserOptions": {
			"ecmaVersion": 2017,
			"sourceType": "module"
	},
	"env": {
			"es6": true
	}
}
